Repository diegolanf/nx-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier, eslint --fix

Remove nx placeholder content
  apps/client-e2e/src/e2e/app.cy.ts
  apps/client/src/app/app.component.html
  apps/client/src/app/app.component.spec.ts
  apps/client/src/app/app.component.ts
  apps/client/src/app/nx-welcome.component.ts
Due: prettier, eslint --fix

Install @nrwl/nest and create nest application
  apps/api-e2e/.eslintrc.json
  apps/api-e2e/jest.config.ts
  apps/api-e2e/project.json
  apps/api-e2e/src/api/api.spec.ts
  apps/api-e2e/src/support/global-setup.ts
  apps/api-e2e/src/support/global-teardown.ts
  apps/api-e2e/src/support/test-setup.ts
  apps/api-e2e/tsconfig.json
  apps/api-e2e/tsconfig.spec.json
  apps/api/.eslintrc.json
  apps/api/jest.config.ts
  apps/api/project.json
  apps/api/src/app/app.controller.spec.ts
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/app.service.spec.ts
  apps/api/src/app/app.service.ts
  apps/api/src/assets/.gitkeep
  apps/api/src/main.ts
  apps/api/tsconfig.app.json
  apps/api/tsconfig.json
  apps/api/tsconfig.spec.json
  apps/api/webpack.config.js
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier, eslint --fix

Add proxy config via --frontendProject
  apps/client/project.json
  apps/client/proxy.conf.json
Due: prettier

Add changeDetection and standalone to @nrwl/angular:component
  nx.json
Due: prettier

Update @nrwl/angular configuration
  apps/client/src/styles.scss
  apps/client/tailwind.config.js
  nx.json
  package-lock.json
  package.json
Due: prettier

Minor corrections to @nrwl/angular config
  nx.json
Due: prettier

Initialise firebase
  .firebaserc
  .gitignore
  apps/api/project.json
  apps/api/src/main.ts
  apps/api/src/package.json
  firebase.json
  package-lock.json
  package.json
Due: prettier, eslint --fix

Update HTML Whitespace Sensitivity setting on prettier
  .prettierrc
Due: none

Update api project serve and add npm start script
  apps/api/project.json
  nx.json
  package.json
Due: prettier

Path conditions:
  prettier: (((any of: *.ts) or (any of: *.html)) or (any of: *.scss)) or (any of: *.json)
  eslint --fix: any of: *.ts
